.rcl-button {
  border: none;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;

  &--primary {
    background-color: rgb(73, 42, 52);
    color: #FFFFFF;

    &:hover {
      background-color: rgb(73, 42, 52, 0.8);
    }

    &:focus {
      outline: 2px solid #000000;
      outline-offset: 1px;
    }

    &:active {
      background-color: rgb(73, 42, 52);
      outline: 2px solid #000000;
      outline-offset: 1px;  
    }
  }

  &--secondary {
    background-color: rgb(244, 158, 136);
    color: #000000;

    &:hover {
      background-color: rgb(244, 158, 136, 0.8);
    }

    &:focus {
      outline: 2px solid #000000;
      outline-offset: 1px;
    }

    &:active {
      background-color: rgb(244, 158, 136);
      outline: 2px solid #000000;
      outline-offset: 1px;  
    }
  }

  &--ghost {
    background-color: transparent;
    color: #000000;

    &:hover {
      background-color: #CDCDCD;
      text-decoration: underline;
    }

    &:focus {
      outline: 2px solid #000000;
      outline-offset: 1px;
      text-decoration: underline;
    }

    &:active {
      background-color: #CDCDCD;
      outline: 2px solid #000000;
      outline-offset: 1px;
    }
  }
}
